<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aemi</title>
    <style>
        :root {
            --page-color-light: hsl(0, 0%, 100%);
            --text-color-light: hsl(0, 0%, 10%);
            --text-color-light--er: hsl(0, 0%, 30%);
            --page-color-dark: hsl(27, 29%, 24%);
            --text-color-dark: hsl(0, 0%, 100%);
            --text-color-dark--er: hsl(0, 0%, 80%);
            --page-color: var(--page-color-light);
            --text-color: var(--text-color-light);
            --text-color--er: var(--text-color-light--er);
            color: var(--text-color);

            font-family: system-ui, -apple-system, BlinkMacSystemFont, SFDisplay-Regular, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        @media (prefers-color-scheme: dark) {
            :root {
                --page-color: var(--page-color-dark);
                --text-color: var(--text-color-dark);
                --text-color--er: var(--text-color-dark--er);
                color: var(--text-color);
            }
        }
        body {
            align-items: flex-start;
            background-color: var(--page-color);
            color: var(--text-color);
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
            justify-content: center;
            margin: 0;
            max-width: 100%;
            padding: 3rem;
            width: 100vw;
        }
        h1 {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
        .h2-lookalike {
            color: var(--text-color--er);
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1>Aemi</h1>
    <strong class="h2-lookalike">Welcome!</strong>
</body>
</html>
